language: node_js
node_js:
- node
notifications:
  email: false
deploy:
  provider: heroku
  api_key:
    secure: B46l+sU0TkBqaEQxKMHMPM+yZJDNO3moh2elj0ssm6ABHi58A2i2SVOuT7KJkxEcX1CDj1EwiHUoQS0cgYgtQ3odrg3ivyUHgXz6fb8iPLtkrKgH2bbVDmIC86POqbO3GBTIvBo1GHB31L//ISug13iiIpgxpzcNJUBsp1jqyWoZ84fqjUrA+4IftTCdGMMOy7TBKc/G2caRJXCZISsHA1Ey7mS2wairdCK0dZh1vbL8nJk59+N0di9VVRDFgX0fuiORFtIrEDKeS4p9l+23qdsgi+cAeV9YDOyR98q+H+r1fEFWRoCLml0mgeB7gag1Tny4rWkkn58u0ocb62+86rEKiY7/h1hRtTMLxJbZcbYF2qfRl8g1SXyCDuSICzW2dIrAAcG+Pl3UEukc9TdbV+Gl7s7SfUcsz3mT3FLO52xKj3gPmDTfCgF0RolLgeKX3L5BrF6SXkFN/24MvhrfNpISUVBYn7hfzYBIE3HX2hHUu+jy+OKXkLWk60X/DcG4SNn7aMtgoJgmG3sNFJjpztRH2K+2vSmbWYm2fSLLuOo7VicpLwXHRgmyg3yPtNlsEymNF7ysnWQY7jRfmZnYRA3NI9VK5PdQhdcNewtm8fLDj1Qq/tQtsNIppTJO8Y0iDrsVaqrYBwLZsN8ktZy6qzZw4JUGh6LJa5k+sXdDcpg=
  app: url-shortener-ui
  skip_cleanup: true
  on:
    branch: main
